{% extends 'shop/base.html' %}

{% block title %}Mobil pro vás{% endblock %}

{% block left_content %}
    <!-- Váš obsah pro levý box -->
    {% for kategorie in kategorie %}
        <div class="kategorie-box">
            <!--suppress HtmlUnknownTarget -->
            <a href="{% url 'products_in_category' kategorie.id_kategorie %}" class="button">
                <h2>{{ kategorie.nazev }}</h2>
            </a>
        </div>
    {% endfor %}
{% endblock %}

{% block main_content %}
    <section class="news-section">
        <h2>Novinky</h2>
        <ul>
            {% for novinka in novinky %}
                <li>{{ novinka.nazev }}</li>
            {% endfor %}
        </ul>
    </section>

    <section class="products-section">
        <h2>Produkty</h2>
        <ul>
            {% for produkt in produkty %}
                <li>{{ produkt.nazev }} - {{ produkt.cena }} Kč</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
