{% extends 'shop/base.html' %}

{% block title %}Košík{% endblock %}

{% block main_content %}
    <h2>Váš košík</h2>
    {% if obsah_kosiku %}
        <ul>
            {% for polozka in obsah_kosiku %}
                <li>
                    <strong>{{ polozka.produkt.nazev }}</strong>
                    - Množství: {{ polozka.mnozstvi }}
                    - Celková cena položky: {{ polozka.celkova_cena }} Kč
                </li>
            {% endfor %}
        </ul>
        <p>Celková cena košíku: {{ kosik.celkova_cena_kosiku }} Kč</p>
    {% else %}
        <p>Váš košík je prázdný.</p>
    {% endif %}
{% endblock %}
