{% extends 'shop/base.html' %}

{% block title %}Registrace{% endblock %}

{% block left_content %}
    <!-- Váš obsah pro levý box -->
    {% for kategorie in kategorie %}
        <div class="kategorie-box">
            <!--suppress HtmlUnknownTarget -->
            <a href="{% url 'products_in_category' kategorie.id_kategorie %}" class="button">
                <h2>{{ kategorie.nazev }}</h2>
            </a>
        </div>
    {% endfor %}
{% endblock %}

{% block main_content %}
    <div class="registration-form">

        <h2>Registrace</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
    </div>
{% endblock %}
