{% load static %}

<html lang="en">
<head>
    <title>{% block title %}Název stránky{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/shop.css' %}">
</head>
<body>

<div class="box top-box">
    <div class="logo-container">
        <img src="{% static 'images/logo.png' %}" alt="Logo firmy">
    </div>
    <div class="search-container">
        <input type="text" placeholder="Vyhledat...">
        <button type="submit" class="button">Hledat</button>
    </div>
    <div class="login-container">
        <a href="{% url 'login' %}" class="button">Přihlásit se</a>
        <a href="{% url 'registration' %}" class="button">Registrovat</a>
        <a href="{% url 'zobraz_kosik' %}" class="button kosik-button">Košík</a>
    </div>
</div>

<div class="box left-box">
    {% block left_content %}
        <!-- Obsah pro levý box -->
    {% endblock %}
</div>

<div class="box main-box">
    {% block main_content %}
        <!-- Obsah pro hlavní box -->
    {% endblock %}
</div>

</body>
</html>
